<ion-header>
  <ion-toolbar>
    <ion-title>Pele</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Maquiagem para festas</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="https://i.pinimg.com/736x/ac/39/a6/ac39a6378d1a563b8d32f3113f97b7f4.jpg">
      Um tipo de maquiagem para grandes eventos, casamentos e festas mais sofisticadas.
      <ion-row>
        <ion-label>Preço: R$00,00</ion-label>
      </ion-row> 
      <ion-button round size="small" expand="block">Adicionar ao carrinho</ion-button>     
    </ion-card-content>
  </ion-card> 
  <ion-card>
    <ion-card-header>
      <ion-card-title>Maquiagem clássica</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="https://static1.tudosobremake.com.br/articles/3/78/03/@/92220-as-noivas-classicas-podem-combinar-as-article_media_new_3_1-4.jpg">
      Mais do que atemporal, esse é um dos tipos de maquiagem coringa que pode ser usado em praticamente todas as ocasiões e garantir delicadeza e elegância ao figurino.  
      <ion-row>
        <ion-label>Preço: R$00,00</ion-label>
      </ion-row> 
      <ion-button round size="small" expand="block">Adicionar ao carrinho</ion-button>        
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Maquiagem monocromática</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="https://www.jornaldaorla.com.br/arquivos/noticia/2014_5_23_16_12_15_6537.jpg">
      A maquiagem monocromática é a arte de combinar os tons que você usa em seus olhos e lábios, e às vezes pode significar usar o mesmo tom de cor também.
      <ion-row>
        <ion-label>Preço: R$00,00</ion-label>
      </ion-row> 
      <ion-button round size="small" expand="block">Adicionar ao carrinho</ion-button>          
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Maquiagem neutra</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <img src="https://t2.uc.ltmcdn.com/pt/images/3/4/3/img_como_fazer_maquiagem_neutra_19343_600_square.jpg">
      É uma opção fácil e rápida de se produzir sem tomar muito o seu tempo. Uma outra vantagem, é que com os olhos neutros, você pode ousar no batom se preferir, e transformar a maquiagem que estava básica em algo mais chamativo. Um batom vermelho por exemplo, já transforma o básico no ousado em minutos. 
      <ion-row>
        <ion-label>Preço: R$00,00</ion-label>
      </ion-row> 
      <ion-button round size="small" expand="block">Adicionar ao carrinho</ion-button>         
    </ion-card-content>
  </ion-card> 
</ion-content>
