<ion-header>
  <ion-toolbar>
    <ion-title size="large">iBeauty</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-menu side="start" menuId="main-menu" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/carrinho">
          <ion-icon name="cart-outline" slot="start"></ion-icon>
          <ion-label>Carrinho</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="settings-outline" slot="start"></ion-icon>
          <ion-label>Configurações</ion-label>
        </ion-item>
        <ion-item color="danger" routerLink="/home">
          <ion-icon name="exit-outline" slot="start"></ion-icon>
          <ion-label>Sair</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>

  <ion-row>
    <ion-item horizontal="end" lines="full">
      <ion-avatar id="avatar" slot="start">
        <img src="https://image.flaticon.com/icons/png/512/17/17004.png">
      </ion-avatar>
      <ion-label>Bem vindo, {{perfil}}</ion-label>
    </ion-item>
  </ion-row>

  <ion-item>
    <ion-label>Messagens</ion-label>
    <ion-badge slot="end">7</ion-badge>
    <ion-icon name=""></ion-icon>
  </ion-item>


  <ion-searchbar placeholder="Pesquisar"></ion-searchbar>


  <ion-button expand="full" color="dark" routerLink="/cabelo">Cabelo</ion-button>
  <ion-button expand="full" color="dark" routerLink="/maquiagem">Maquiagem</ion-button>
  <ion-button expand="full" color="dark" routerLink="/unha">Pés e Mãos</ion-button>
  <ion-button expand="full" color="dark" routerLink="/massagem">Massagem</ion-button>
  <ion-button expand="full" color="dark" routerLink="/depilacao">Depilação</ion-button>
  <ion-button expand="full" color="dark" routerLink="/pele">Pele</ion-button>

</ion-content>